class RankedTableComparison extends React.Component {
  constructor(props) {
    super(props);

    this.state = {
      data: [],
      amount: 0,
      count: 0
    }
  }

  componentWillMount() {
    let data = this.props.data;
    let initialAmount = 5;
    let startingItems = _.take(data, initialAmount);
    this.setState({
      data: startingItems,
      amount: data.length,
      count: initialAmount
    })
  }

  showMore() {
    let { amount, count } = this.state;

    let amountToDisplay = count + 5;

    if(amountToDisplay <= amount) {
      let itemsToDisplay = _.take(this.props.data, amountToDisplay);

      this.setState({
        data: itemsToDisplay,
        count: amountToDisplay 
      });
    } else {
      this.setState({
        data: this.props.data,
        count: this.props.data.length
      });
    }
  }

  render() {
    let dataRows = this.state.data.map((item, index) => {

      return (
        <tr key={index}>
          <td className="text-left champ-name-td col-md-3"><img src={ "http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/" + item.key + ".png" } width="30" height="30" /> <span className="champ-name">{ item.name }</span></td>
          <td className="champ-name-td col-md-3"><span className="champ-name">{ item.champion_masteries[0].champion_points }</span></td>
          <td className="champ-name-td col-md-2"><span className="champ-name">{ item.champion_stats[0].matches_played }</span></td>
          <td className="champ-name-td col-md-2"><span className="champ-name">{ parseInt(item.champion_stats[0].winrate) }%</span></td>
          <td className="champ-name-td col-md-2"><span className="champ-name">{ item.champion_stats[0].kda.toFixed(2) }</span></td>
        </tr>
      )
    });

    return (
      <div className="app-card app-card-table app-card-table-green">
        <table className="table">
          <thead>
            <tr>
              <th>Champion</th>
              <th>Champion Points</th>
              <th>Ranked Matches</th>
              <th>Winrate</th>
              <th>KDA</th>
            </tr>
          </thead>
          <tbody>
            { dataRows }
          </tbody>
        </table>

        <button className="btn btn-success btn-table" onClick={this.showMore.bind(this)}>Show more</button>
      </div>
    );
  }
}

RankedTableComparison.propTypes = {
  data: React.PropTypes.array.isRequired
};