<div class="apierror-page">
  <div class="big-title">
    <h1>500</h1>  
  </div>

  <div class="sub-title">
    <h1>Sorry - An error has ocurred :(</h1>
  </div>
</div>

<div class="error-image">
  <%= image_tag "zed.png", size: "420x236" %>
</div>