<div class="apierror-page">
  <div class="big-title">
    <h1>500</h1>  
  </div>

  <div class="sub-title">
    <h1>Sorry - This summoner has no mastery data <%= image_tag 'http://ddragon.leagueoflegends.com/cdn/6.9.1/img/item/3151.png', size: '30x30' %></h1>
  </div>
</div>

<div class="error-image">
  <%= image_tag "zed.png", size: "420x236" %>
</div>