<div class="not-found-page">
  <div class="big-title">
    <h1>404</h1>  
  </div>

  <div class="sub-title">
    <h1>Sorry - Summoner not found</h1>
  </div>
</div>

<div class="not-found-image">
  <%= image_tag "poppy.png", size: "420x236" %>
</div>