<div class="search-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="title text-center">
          <h1>Know your Masteries</h1>
        </div>

        <div class="search-input-control text-center">
          <%= form_tag summoners_path, method: "post" do |f| %>
            <input type="text" name="summoner" class="form-control" placeholder="Summoner name" />
              <select name="region" class="search-select">
                <option value="BR">BR</option>
                <option value="EUNE">EUNE</option>
                <option value="EUW">EUW</option>
                <option value="JP">JP</option>
                <option value="KR">KR</option>
                <option value="LAN">LAN</option>
                <option value="LAS">LAS</option>
                <option value="NA">NA</option>
                <option value="OCE">OCE</option>
                <option value="TR">TR</option>
                <option value="RU">RU</option>
                <option value="PBE">PBE</option>
              </select>
              <button type="submit" class="btn btn-raised btn-primary search-btn">Search</button>
              <%= link_to 'Leaderboard', summoners_path, class: 'btn btn-raised btn-primary' %>
              <%= link_to 'General Stats', stats_path, class: 'btn btn-raised btn-info' %>
          <% end %>
        </div>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-12 text-center">
          <p>This product is not endorsed, certified or otherwise approved in any way by Riot Games, Inc. or any of its affiliates.</p>
      </div> 
    </div>
  </div>
</div>