$color--background:               $primary-color;
$size--header-height:             150px;

.application-header {
  @include material-layer(1);

  width: 100%;
  height: $size--header-height;
  background-color: $color--background;
  margin: 0;
  color: $primary-color-text;
  text-align: center;
  padding: $pad * 4;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -5px;

  h1 {
    margin: 0;
    padding: 0;
  }
}