$color--background-container:     $white;
$radius--border-container:        2px;
$color--background:               $primary-color;
$color--font:                     $primary-color-text;
$color--inputs-text:              $primary-text-color;
$size--search-text:               120%;

.search-page {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: $color--background;
  color: $color--font;
}

.search-container {
  width: 60%;
  border-radius: $radius--border-container;
  padding: 0 ($pad * 6) ($pad * 6) ($pad * 6);
}

.title > h1 {
  margin-bottom: $space * 10;
  font-weight: bold;
}

.search-input {
  @include material-layer(2);
  color: $primary-text-color;
  padding: $pad $pad-double;
  width: 60%;
  font-size: $size--search-text;
  border: 0;
}

.search-select {
  @include material-layer(1);
  padding: 10px $pad-double 11px $pad-double;
  color: $primary-text-color;
  font-size: $size--search-text;
  background-color: $white;
  border: 0;
  border-left: 1px solid $gray;
  margin-left: -4px;
}

.search-btn {
  @include material-layer(2);
  font-size: $size--search-text;
  padding: $pad $pad-double;
  margin: -4px 0 0 -4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}