$color--app-background: $grey-background;

html, body {
  height: 100%;
  background-color: $color--app-background;
}

.application-container {
  height: 100%;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.col-without-pad {
  padding: 0;
}