$color--background:     $white;

.app-card {
  @include material-layer(1);
  border-radius: 2px;
  background-color: $color--background;

  margin-bottom: $space-double;

  &-info {
    color: $primary-color-text;
    background-color: $primary-color;
    
    .card-section-info {
      padding: $pad-triple;

      .stat {
        font-size: 140%;
        font-weight: 500;
      }
    }
  }

  .card-section {
    padding: $pad-triple $pad;

    h1 {
      margin: 0;
    }

    &-centered {
      text-align: center;
    }

    label {
      font-size: 90%;
      color: $primary-color-text;
    }

    &-green {
      background-color: $accent-color;
      color: $primary-color-text;
    }

    &-info-main {
      padding-top: 70px;
    }
  }

  .card-section-full {
    width: 100%;
    padding: $pad-triple;

    h1 {
      margin: 0;
      font-size: 400%;
    }

    label {
      color: $primary-color-text;
    }
  }

  &-table {
    background-color: $primary-color;
    text-align: center;
    color: $primary-color-text;
    padding: $pad;
    font-size: 120%;

    .btn-table {
      color: $primary-color-text !important;
    }

    .champ-name-td {
      span.champ-name {
        width: 60%;
        height: 100%;
        display: inline-block;
        text-align: center;
      }
    }
    
    & > thead > tr > th {
      border: none !important;
    }

    td {
      border: none !important;
    }

    th {
      border: none !important;
      text-align: center;
      font-weight: bold;
    }
  }
}