// -----------------------------------------------------------------------------
// animations defaults
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// space
// -----------------------------------------------------------------------------
  $space:                         1rem;
  $space-and-half:                $space*1.5;
  $space-double:                  $space*2;
  $space-triple:                  $space*3;
  $space-half:                    $space/2;
  $space-quarter:                 $space/4;

  $pad:                           10px;
  $half-pad:                      ceil($pad/2);
  $three-quarter-pad:             ceil($pad*0.75);
  $pad-and-half:                  ceil($pad*1.5);
  $pad-double:                    ceil($pad*2);
  $pad-triple:                    ceil($pad*3);
  $pad-half:                      ceil($pad/2);
  $pad-quarter:                   ceil($pad/4);

// -----------------------------------------------------------------------------
// defaults
// -----------------------------------------------------------------------------

  $size--header-height:                 null;
  $size--footer-height:                 null;

  $modernizr-no-touch-class:            '.no-touch';
  $modernizr-touch-class:               '.touch';


// -----------------------------------------------------------------------------
// media queries
// -----------------------------------------------------------------------------

  $minimun-screen-resolution:     320px;

  $bootstrap-sm:                  768px;
  $bootstrap-md:                  992px;
  $bootstrap-lg:                  1200px;
  $tablet-landscape:              1024px;

  $just-small-resolutions:        "only screen and (max-width: #{$bootstrap-sm})";
  $from-small-resolutions:        "only screen and (min-width: #{$bootstrap-sm})";
  $from-medium-resolutions:       "only screen and (min-width: #{$bootstrap-md})";
  $from-large-resolutions:        "only screen and (min-width: #{$bootstrap-lg})";