@mixin fade-out($speed: .216s, $transition-function: linear) {
  opacity: 0;
  transition: visibility 0s $speed, opacity $speed $transition-function;
  visibility: hidden;
}

@mixin fade-in($speed: .216s, $transition-function: linear) {
  opacity: 1;
  transition: opacity $speed $transition-function;
  visibility: visible;
}

@mixin overlay($background: $color--error, $opacity: .75, $top: 0, $right: 0, $bottom: 0, $left: 0) {
  background-color: $background;
  bottom: $bottom;
  left: $left;
  position: absolute;
  right: $right;
  top: $top;
  opacity: $opacity;
}

@mixin material-layer($depth) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `material-layer`.";
  } @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);
  }
}

@mixin lapse-delay($time) {
  animation-delay: $time;
}