<!DOCTYPE html>
<html>
<head>
  <title>LeagueTeam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>

<div class="error-page">
  <div class="error-page-header">
    <h2>KnowYourMasteries</h2>
  </div>
  <div class="error-container">
    <%= yield %>
  </div>
  <div class="error-page-footer">
    <p>Made with <i class="material-icons md-18 md-red">favorite</i> by <span>CodeLovers</span></p>
  </div>
</div>

</body>
</html>
